# Strings
## Exploring the beauitful flexibility of text in Python!
---
### Here's what you will learn:
1. What are Strings?
2. How to Create and Display Strings
3. How to Slice Up Strings
4. Fun with String Properties and Methods
5. Fun with Formatting (this is seriously fun lol)

## What are Strings?
Strings are ordered character collections enclosed in quotes.  These can be either double or single quotes.
I say they are "ordered" because every character has an invisible numbered index.  This is pretty cool because it menas you can yank specific characters or phrases from a string very very easily.

So if we have this string "Vonnie" we can see, behind the scenes, each character is really mapped to a number called an index.

V o n n i e
0 1 2 3 4 5

So here you see "Vonnie" but Python knows more! It knows that "V" maps to index 0.

The best way to learn about Strings is to use them! So in this lecture we'll dig into building Strings then we'll slice 'em up, play with methods and have fun formatting them to our hearts satisfaction :)

## How to Create and Display Strings

So let's just dig into creating and displaying strings

In [1]:
# Let's kick things off with a basic string
'what up world! how you doin??'

'what up world! how you doin??'

In [4]:
# We can also use double quotes
"what up world! how you doin??"

'what up world! how you doin??'

In [8]:
# We can also mix quotes. Notice how I changed what to "what's" and I didn't get any errors
"what's up world! how you doing??"

"what's up world! how you doing??"

In [12]:
# This worked because the entire string is closed in double quotes so Python doesn't mind the single quote.  But if I didn't mix quotes I would get an error at the second single quote because Python assumed it was the closing quote and didn't expect extra text following:
'what's up world! how you doing??'

SyntaxError: invalid syntax (Temp/ipykernel_936/2567212705.py, line 2)

In [14]:
# Okay, cool so let's print out a string with print.  We don't just want to return the string we want to actually print it out.  That's what print() is for!
print("what up dawg")

what up dawg

In [16]:
# One of the nice things we can do with print() is we can leverage escape characters to insert tabs and line breaks and all kinds of slick stuff
# That \n is a special character that tells Python to not print the literal sequence "\n" but rather BREAK the link.
print("what up\ndawg")

what up
dawg

In [19]:
# There's other escape sequences for tabs and other things too
print("what\tup\tdawg")

what	up	dawg

## How to Slice Up Strings

You ready to become a Python chef? Cuz' we're about to treat our Python text like a delicious pie made for slicin'.  Let's go!

In [22]:
# Let's create a simple variable with a string
pickup = "Toyota Tacoma TRD Pro"

In [23]:
type(pickup)

str

In [25]:
# Let's say we just want to grab the first letter there... since strings are 0 indexed... meaning string characters are numbers sequentially starting at 0, we can easily grab that first letter
pickup[0]

'T'

In [26]:
pickup

'Toyota Tacoma TRD Pro'

In [28]:
# What about that last "r" in the word "Pro"? Well we could count all characters (including spaces) like this...
pickup[19]

'r'

In [30]:
# Or we can realize that strings are indexed in reverse starting from -1.  So that last "o" in "Pro" is in position -1.  The "r" immediately before it is in the -2 position.  The capital "P" is in the -3 position and so on.
pickup[-2]

'r'

In [34]:
# So how do we slice? We grab subsections.  The format is [start:stop:step].  The start includes the character matching the corresponding index at that location... so it's INCLUSIVE.  The stop is EXCLUSIVE - so it tells you where to stop but doesn't include the character stopped on.  Sounds confusing; don't worry it'll make sense in a second.  And the step is how many characters to jump along the way... by default this is 1
pickup

'Toyota Tacoma TRD Pro'

In [38]:
# The word "Tacoma" starts at index "7" so we can set that in the index and then just leave a colon with nothing following which basically says: Start at the 7 index and dont stop... keep going at the default step size of 1 until the string is done
pickup[7:]

'Tacoma TRD Pro'

In [39]:
pickup

'Toyota Tacoma TRD Pro'

In [43]:
# Now here's were things get tricky.  Let's say we just want to grab Toyota.  Toyota is indexed at 0 and ends at index 5
# But look what happens if you're not thinking this through:
pickup[:5]

'Toyot'

In [44]:
# We're missing the last "a" because that stop index, the 5 doesn't include the character it stops on.  So you need to go one character ahead of where you want to stop to get what you want. You are going up to the STOP index but not including it. TRICKY RIGHT!?
pickup[:6]

'Toyota'

In [45]:
pickup

'Toyota Tacoma TRD Pro'

In [46]:
# So how can we grab Taco from "Tacoma"?
pickup[7:11]

'Taco'

In [47]:
pickup

'Toyota Tacoma TRD Pro'

In [49]:
# So how does the step size work? We just specify a leap number
pickup[::]

'Toyota Tacoma TRD Pro'

In [50]:
pickup[::1]

'Toyota Tacoma TRD Pro'

In [51]:
# Look at that! We printed the whole string but are skipping every 2 chars! lol
pickup[::2]

'Tyt aoaTDPo'

In [52]:
pickup[::3]

'To caRP'

In [53]:
pickup[::4]

'TtaaDo'

In [56]:
# Fun for hours! okay, we can also step by a negative number...
# This is a little trick to reverse the characters in a string.  Do you see how this works? 
# Your start and stop indexes are empty so Python returns the whole string but it puts the first char as the last char because the step size starts with -1.  Then it keeps moving forward until the entire string has been displayed... in REVERSE!
pickup[::]

'Toyota Tacoma TRD Pro'

In [55]:
pickup[::-1]

'orP DRT amocaT atoyoT'

# Fun with String Properties and Methods
Yes! you are making major progress.  Now it's time to introduce you to the IMMUTABILITY of strings, talk about string concatenation and dive into some of the most useful properties belonging to our faithful string.  Let's do this!

In [65]:
# Let's start with immutability.  If something is immutable it can't be changed.  So when we say Strings are immutable we mean we can't reassign an character in a string AFTER it has already been defined.
greatest_hip_hop_producer = "JZ"

In [66]:
greatest_hip_hop_producer

'JZ'

In [76]:
# When I try to change that "Z" to a "D" Python flips out because Strings are immutable
greatest_hip_hop_producer[1] = 'D'

TypeError: 'str' object does not support item assignment

In [77]:
# We need to create a new string to change this one.  Let's just grab that "J"
greatest_hip_hop_producer[0:1]

'J'

In [78]:
# And lets assign it to a new variable
first_name=greatest_hip_hop_producer[0:1]
first_name

'J'

In [72]:
last_name=" Dilla"

In [79]:
# We can use String concatenation to join the two variables containing our strings together
first_name + last_name

'J Dilla'

In [75]:
greatest_hip_hop_producer = first_name + last_name
greatest_hip_hop_producer

'J Dilla'

In [81]:
# We can repeat strings by multiplying it a bunch of times too
greatest_hip_hop_producer * 10

'J DillaJ DillaJ DillaJ DillaJ DillaJ DillaJ DillaJ DillaJ DillaJ Dilla'

In [92]:
# Since the J doesn't have a leading space it's squished up against his last name on each repeat.  Let's fix that"
first_name = ' J'
last_name = ' Dilla'
greatest_hip_hop_producer = first_name + last_name
greatest_hip_hop_producer

' J Dilla'

In [93]:
greatest_hip_hop_producer * 10

' J Dilla J Dilla J Dilla J Dilla J Dilla J Dilla J Dilla J Dilla J Dilla J Dilla'

In [95]:
# Just make sure you don't try to concatenate a number with a string
1 + 4

5

In [96]:
1 * 4

4

In [99]:
# We can repeat that '1' 4 times... because it's really a string as indicated by the single quotes wrapping
'1' * 4

'1111'

In [101]:
# It's easy to forget you have strings though.  As you can see, it looks like I'm trying to add 1 + 4 and the answer would be 5; however, digging deeper you see these are really two strings so they just get mashed together. This is because Python is dynamically typed. WATCH OUT!
'1' + '4'

'14'

In [105]:
# So these strings also have hidden methods you can apply to them.  Take a look at this:
author = "Vonnie Hudson"

In [106]:
author

'Vonnie Hudson'

In [107]:
# If I type author and press the "." DOT character and then hit [TAB] I'll see all the things I can do to this string object.
# Let's play with a few

In [108]:
author.upper()

'VONNIE HUDSON'

In [109]:
author.lower()

'vonnie hudson'

In [110]:
author

'Vonnie Hudson'

In [114]:
# Notice it didn't stick though.  If you want a string to be permanently changed by these methods you need to reassign them
humble = author.lower()
humble

'vonnie hudson'

In [115]:
cocky = author.upper()
cocky

'VONNIE HUDSON'

In [117]:
# Original author variable is unscathed
author

'Vonnie Hudson'

In [119]:
# Make sure you remember to include the parenthesis for the methods otherwise Python won't really know what to do!
author.lower

In [120]:
author.lower()

'vonnie hudson'

In [128]:
# some other useful methods include len() to get the length of the string.
# This isn't a property of the String object, it's just a function we can pass a String object into to return it's length.  Whitespace is included in the count.
len(author)

13

In [129]:
# Okay, so here are some other useful methods we can run on the String object: split().  It will divide up the string, based on every space or letter you pass as an argument, and it will output it as a new data type known as a list
author.split()

['Vonnie', 'Hudson']

In [125]:
# So if I pass in an "o" as an argument to split(), it divides the string based on every instance of that 'o' and it leaves it out of the final list
author.split('o')

['V', 'nnie Huds', 'n']

## Fun with Formatting
Let's round out this section with String formatting.  This is important because a lot of times you'll have a variable you want to concatenate into a string.  There are some best practices for doing this string injection.  It's technically called string interpolation and it's a really slick way concatenate strings; to shove a variable into a string.

In [132]:
# Let's start with .format()
print("The {} is a very fast car".format('Porsche 911 Turbo S'))

The Porsche 911 Turbo S is a very fast car

Do you see how this works?
**print("Blah {}".format('INSERT_THIS'))**

In [134]:
# We are using the print() function with some text
print("The is a very fast car")

The is a very fast car

In [137]:
# But we want to inject the phrase "Porsche 911 Turbo S" so we put that in a format function like this
# format("Porsche 911 Turbo S")
# And then we just put two enclosing curly braces inside the string everywhere we want that variable to appear
print("Let's go buy the {} today".format('Porsche 911 Turbo S'))

Let's go buy the Porsche 911 Turbo S today

In [139]:
# One of the nice things about this .format method is strings can be inserted based on index position
print("I purchased the {}, {} and {}".format('Porsche 911 Turbo S','Audi R8','Land Rover Range Rover'))

I purchased the Porsche 911 Turbo S, Audi R8 and Land Rover Range Rover

In [140]:
# So .format() inserted them in the same order we placed them but we can specify the index positions to switch up how the output is returned
print("I purchased the {2}, {1} and {0}".format('Porsche 911 Turbo S','Audi R8','Land Rover Range Rover'))

I purchased the Land Rover Range Rover, Audi R8 and Porsche 911 Turbo S

In [144]:
# Or I can make them all the same based on index position
print("I purchased the same car three times: {0}, {0} and {0}".format('Porsche 911 Turbo S','Audi R8','Land Rover Range Rover'))

I purchased the same car three times: Porsche 911 Turbo S, Porsche 911 Turbo S and Porsche 911 Turbo S

In [145]:
# And you can create little variables in the format method as a stand-in
print("I purchased the {l}, {a} and {p}".format(p='Porsche 911 Turbo S',a='Audi R8',l='Land Rover Range Rover'))

I purchased the Land Rover Range Rover, Audi R8 and Porsche 911 Turbo S

In [146]:
# Let's shift gears a little bit and talk about float formatting.  We can adjust the precision and width of a number.  So let's say we have this number:
porsche_cost = 225304.03940392

In [147]:
type(porsche_cost)

float

In [148]:
print("The Porsche 911 Turbo S costs {c} USD".format(c=porsche_cost))

The Porsche 911 Turbo S costs 225304.03940392 USD

Here's the float format
**"{value:whitespace.precision f}"**

In [153]:
# We pass in the value a colon and the whitespace width and the precision 
print("The Porsche 911 Turbo S costs {c:1.2f} USD".format(c=porsche_cost))

The Porsche 911 Turbo S costs 225304.04 USD

There's a new way to do this with format string literals

In [158]:
author = "Vonnie Hudson"

In [160]:
print(f'Hey, my name is {author}')

Hey, my name is Vonnie Hudson

In [162]:
# These are f string or format string literals.  It's just super convenient.  You can also do this with multiple variables
author = "Vonnie Hudson"
age = 35
print(f"Hey my name is {author} and I'm {age} years old.")

Hey my name is Vonnie Hudson and I'm 35 years old.

Nice! so you got through the Strings section! In the next lecture we'll dig into the list data type.  Let's do this baby!