# Functions with Tuples!
## So a function and a tuple walk into a bar...

Sweet! we are making progress - in this lecture we're going to play with lists, tuples and functions

So in earlier lectures I showed you how to loop through a list of tuples and then unpack specific value "columns" of interest.

Well, we can also have functions that return tuples and we can unpack the columns we want when we call the function.  It's pretty slick and you will see this a lot in Python code.

## In this lesson you will learn
1. Review on looping through lists of tuples
2. Functions that return tuples
3. How to unpack the data you want from these function.

## Review: Looping through lists of tuples

In [41]:
cameras = [('Nikon D780',2300),('Canon EOS-1D Mark III',6500),('Sony ILCE-1',6500)]

In [42]:
type(cameras)

list

In [43]:
for camera in cameras:
    print(camera)

('Nikon D780', 2300)
('Canon EOS-1D Mark III', 6500)
('Sony ILCE-1', 6500)

In [45]:
for model,cost in cameras:
    print(model)

Nikon D780
Canon EOS-1D Mark III
Sony ILCE-1

In [47]:
# 25% discount haha
for model,cost in cameras:
    print(model,cost-0.25*cost)

Nikon D780 1725.0
Canon EOS-1D Mark III 4875.0
Sony ILCE-1 4875.0

In [51]:
# Functions can also return objects as Tuples and we can unpack the results from Functions too
buildings = [('Burj Khalifa',2717),('One World Trade Center',1776),('Central Park Tower',1550)]

In [52]:
list(buildings)

[('Burj Khalifa', 2717),
 ('One World Trade Center', 1776),
 ('Central Park Tower', 1550)]

## Playing with functions that return Tuples

In [60]:
def find_tallest_building(buildings):
    current_max = 0 
    # Start at 0 and compare each employee hours to current max hours
    # If that employee beats the current max hours then reset the current max to that employees hours
    # and reset the employee_of_month to that employees name
    
    tallest_building = ''
    
    for building,height in buildings:
        if height > current_max:
            current_max = height
            tallest_building = building
        else:
            pass
    
    # Return a Tuple
    return (tallest_building,current_max)

In [62]:
building = find_tallest_building(buildings)

In [64]:
building

('Burj Khalifa', 2717)

In [65]:
type(building)

tuple

## Unpacking the data you want

In [67]:
building,height = find_tallest_building(buildings)
height

2717

In [68]:
building

'Burj Khalifa'

In [73]:
# Let's add the vonnie tower to the mix - it's over 9000
buildings = [('Vonnie Tower',9001),('Burj Khalifa',2717),('One World Trade Center',1776),('Central Park Tower',1550)]

In [74]:
building,height = find_tallest_building(buildings)
height

9001

In [75]:
building

'Vonnie Tower'

Great work! In the next lecture we will dig into how to code functions that speak to other functions.  Let's do this baby!