# More Fun
## Just a few more odds and ends to round out this section

So I wanted to get into a few more functions that are very useful so you should know.  We have an entire section devoted to functions later so don't fret too much.

## In this lession you will learn:
1. How to get user input
2. How to use the range() method
3. Why the enumerate() function is pretty useful
4. All about zip()
5. Fun with not in and in
6. Fun with max and min
7. Fun with random integers

## How to get user input

In [65]:
# Let's say you want to get input from the user.  You can use input() for that
input('Enter a number here: ')

Enter a number here: 10

'10'

In [66]:
# Just keep in mind it accepts anything we input as a string 
result = input('Enter a number here: ')

Enter a number here: 10

In [67]:
result

'10'

In [68]:
# See it's a string
type(result)

str

In [69]:
# We can typecast to an integer
int(result)

10

In [70]:
# Or just wrap the input() in an int to force the string to be an integer
result = int(input('Enter a number here: '))

Enter a number here: 10

In [71]:
type(result)

int

## How to use the range() method

In [77]:
# Let's talk about ranges now.  Think about these like slicing strings.
# We have a start:stop:step.  You can press Shift + Tab to see the parameters
# To simply print out a range of numbers:
range(10)

range(0, 10)

In [79]:
# Wait what happened, where's our list of numbers?
type(range(0,10))

range

In [80]:
# We can cast it to a list
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
# Or pass it in as the iterator in a for loop
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [82]:
# Just like strings you can specify the START,STOP indexes...
# Just remember it stops one value before the STOP index
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [83]:
# We can print out the 10 and jump by a step of 2 to only get evens
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [8]:
# Range is a generator so instead of saving it to memory it just generates the output more efficiently.  
# so cast it to a list to get a list of nums
range(0,11,2)

range(0, 11, 2)

In [10]:
# more efficient
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

## Why the enumerate() function is pretty useful

In [86]:
# Now let's talk about enumerate
# This is a great way to get a counter and value from an iterable object..
# Without having to actually create and keep track of the counter
my_list = ['a','b','c']
for item in my_list:
    print(item)

a
b
c

In [89]:
# okay this is collection based iteration which means Python will 
# automatically assign the next item from my_list to the "item" variable
# but lets say you actually wanted to print the index of the item in the list
# on each iteration
index = 0
my_list = ['a','b','c']
for item in my_list:
    print(index,item)
    index +=1 # gotta update index on each iteration, easy to forget

0 a
1 b
2 c

In [92]:
# to solve these issues we can use enumerate
# now we iterate and get the index for free in a packed tuple!
my_list = ['a','b','c']
for item in enumerate(my_list):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [96]:
# So it's super easy to pull out what you want with tuple unpacking
# For example I can easily just get the indexes
my_list = ['a','b','c']
for i,item in enumerate(my_list):
    print(i)

0
1
2

## All about zip( )

In [101]:
# Let's also talk about zip
my_list_1 = [1,2,3]
my_list_2 = ['a','b','c']
my_list_3 = [9000,9001,9002]

In [102]:
# zip... zips up multiple lists aligning the columns so they match
# if you have uneven columns it just takes the shortest one
# running it by itself only reveals a memory location... not useful
zip(my_list_1,my_list_2)

In [103]:
# but in a loop... ahhhh!

for item in zip(my_list_1,my_list_2,my_list_3):
    print(item)

(1, 'a', 9000)
(2, 'b', 9001)
(3, 'c', 9002)

In [105]:
# or cast to a list... nice
list(zip(my_list_1,my_list_2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [107]:
# and then we can just do tuple unpacking to get what we want
for a,b,c in zip(my_list_1,my_list_2,my_list_3):
    print(c)

9000
9001
9002

In [110]:
# if the items don't pair up or match it just zips up until the shortest list
my_list_1 = [1,2,3]
my_list_2 = ['a','b','c']
my_list_3 = [9000,9001,9002,9003,9004,9005,9006,9007,9009,9010]

for a,b,c in zip(my_list_1,my_list_2,my_list_3):
    print(a,b,c)

1 a 9000
2 b 9001
3 c 9002

## Fun with not in and in

In [113]:
# So let's look at the IN and NOT IN operators
# we've already seen this operator with for loops but I want you to see 
# you can use it by itself too!
# Is the character "i" in the word 'sin'?
'i' in 'sin'

True

In [114]:
# Is zero in this long list of numbers?
'0' in [1,2,5,2,3,4,6,8,4,3,2,3,4,5,6,7,2,3,1,2]

False

In [116]:
# and you can flip things up with the not operator with in
not 'u' in 'i love you'

False

In [117]:
# also works for dictionaries
'k1' in {'k1':1,'k2':2,'k3':3}

True

In [125]:
my_dictionary = {'k1':1,'k2':2,'k3':3}
2 in my_dictionary.values()

True

## Fun with max and min

In [128]:
# We also have min and max
my_list = [1337,1338,1339]

In [129]:
min(my_list)

1337

In [130]:
max(my_list)

1339

## Fun with random

In [131]:
from random import shuffle

In [132]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [133]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [134]:
# In place shuffle
shuffle(my_list)

In [135]:
my_list

[6, 10, 9, 4, 5, 1, 3, 2, 7, 8]

In [45]:
from random import randint

In [46]:
randint(0,100)

100

In [47]:
randint(0,100)

0

In [48]:
randint(0,100)

99

In [49]:
randint(0,100)

95

In [50]:
my_num =randint(0,10)

In [51]:
my_num

8

In [52]:
my_num

8

Alright, I know that was a lot but hopefully it wasn't too bad!  In the next lecture we'll get into list comprehensions to round things out - let's go!